<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color: rgb(65, 57, 137); display: flex; justify-content: center;">
    <div style="width: 800px; border-radius: 20px; background-color: white; padding: 40px;">
        <img width="100%" src="https://img.vkusvill.ru/pim/images/site_LargeWebP/518f98aa-3a2b-4835-be6c-00e07094b834.webp?1661275695.3704" />

        <h1>Глина полимерная светящаяся</h1>

        <h3 style="color: gray">Описание</h3>
        <p>Лепи, играй, фантазируй! Из этой глины легко мастерить долговечные поделки: она пластичная, не липнет к рукам, имеет нейтральный запах и застывает на воздухе за 12 часов. А главное, фигурки из этой глины будут светиться в темноте! Для этого достаточно подержать их на свету 1–3 минуты. Поделки можно раскрасить, но советуем разрисовывать их частично: раскрашенные участки не будут светиться.
На упаковке есть QR-код: по ссылке представлены бесплатные видеоуроки, которые помогут слепить весёлую звёздочку, доброе приведение и других забавных персонажей.</p>

        <h3 style="color: gray">Годен</h3>
        <p>18 месяцев</p>

        <h3 style="color: gray">Состав</h3>
        <p>Вода питьевая, поливиниловая дисперсия, глицерин пищевой, сорбитол, пропиленгликоль, модифицированный крахмал, пигмент флуоресцентный, метилизотиазолинон, метилхлоризотиазолинон</p>


        <h2>Comments</h2>
        <form method="post" action="/comment" style="display: flex; align-items: center; flex-direction: column;">
            <label style="width: 100%;">
                Содержание комментария
                <br/>
                <textarea rows="10" type="text" name="text"
                          style="
                            width: 100%;
                            margin-top: 8px;
                            margin-bottom: 24px;
                            border-radius: 4px;
                            padding: 16px;
                            box-sizing: border-box;
                            "
                          placeholder="Пожалуйста, заполните свой комментарий"></textarea>
            </label>
            <label style="width: 100%;">
                Количество звезд (от 1 до 5)
                <br/>
                <input type="number" name="rate"
                       style="
                            width: 100%;
                            margin-top: 8px;
                            margin-bottom: 24px;
                            border-radius: 4px;
                            padding: 16px;
                            box-sizing: border-box;
                            "
                       placeholder="Пожалуйста, дайте звезды">
            </label>
            <button type="submit" style="
                                        background-color: forestgreen;
                                        color: white;
                                        border-radius: 20px;
                                        padding: 8px;
                                        box-shadow: none;
                                        width: 200px;
                                        border: none;
                                        ">Добавить комментарии</button>
        </form>

        <h1 style="color: red;">{{ error }}</h1>

        <h2>Список комментариев</h2>
        {% for comment in comments %}
            <div style="
                         border: 1px solid black; 
                         border-radius: 16px;     
                         width: 100%;             
                         padding: 24px;           
                         margin-top: 24px;        
                         box-sizing: border-box;  
            ">
                <p>{{ comment.text }}</p>

                {% for i in range(0, comment.rate|int) %}
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Star_icon_stylized.svg/2153px-Star_icon_stylized.svg.png" width="16">
                {%  endfor %}
            </div>
        {% endfor %}

        <div style="display: flex; align-items: center; flex-direction: column;">
            <button type="submit"
                    style="
                        background-color: darkred;
                        color: white;
                        border-radius: 20px;
                        padding: 8px;
                        box-shadow: none;
                        width: 200px;
                        margin-top: 24px;
                        border: none;
                    "
                    onclick="
                        fetch('/comment',  {
                            method: 'DELETE'
                        })
                        .then(() => window.location.href = '/');
                    "
            >
                Clear
            </button>
        </div>
    </div>
</body>
</html>